<div class="container-fluid" style="background-image: url('assets/real-estate-agent.png'); background-size: cover; height: 100vh; color: white;">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 text-center">
        <h1>Üdvözöljük az Ingatlan Portálon!</h1>
        <p>Keresse meg álmai otthonát, vagy hirdesse meg eladó ingatlanát nálunk!</p>
        <button class="btn btn-primary m-2" routerLink="/offers">Nézze meg kínálatunkat</button>
        <button class="btn btn-success m-2" routerLink="/newad">Hirdessen nálunk!</button>
      </div>
    </div>
  </div>